/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
.player{
    width: 100%;
    border-radius: 10px;
	/* background-color: aqua; */
}
.Playlist{
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px;
	margin: 15px;
}
h1,h2{
	text-align: center;
}
ul{
	list-style-type:none;
}
a{
	text-decoration-line: none;
	color: black;
}


.player_one{
	background-color: rgb(255, 255, 255); 
	border-radius:5px;
	margin:10px;
	border: 1px solid black;
	padding: 15px;
}
/* video{
 margin: 10px auto;
} */
.player_two{
	background-color: rgb(255, 255, 255); 
    width: 100%;
}
audio{
	width: 100%;
}
