.container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 600px;
    height: 200px;
    background-color: #d3d3d3;
    border-radius: 60px;
    border: 5px solid black;
    text-align: center;
    padding: 20px;
}
.green,.yellow,.red{
    width: 140px;
    height: 140px;
    /* display: inline; */
    border-radius: 50%;
    border: none;
    margin: auto 10px;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}